language: python
python:
  - "2.7" # Min version supported by IPython
  - "3.4"
  - "3.5"
  - "3.7"

install:
  - "pip install -r requirements.txt"
  - "python setup.py install"

script: py.test test
